# VITE_USER_SERVICE_URL=http://localhost:4002
# VITE_STOCK_SERVICE_URL=http://localhost:4002
# VITE_TRADING_SERVICE_URL=http://localhost:4003
# VITE_PORTFOLIO_SERVICE_URL=http://localhost:4004
# VITE_TRANSACTION_SERVICE_URL=http://localhost:4005
